---
import type { KursTyp } from '../../data/kursplan';
import { kursStyles } from '../../data/kursplan';

interface Props {
  typ: KursTyp;
  label?: string;
  class?: string;
}

const { typ, label, class: cls = '' } = Astro.props;
const style = kursStyles[typ];
const displayLabel = label ?? style.label;
---

<span class:list={['kurs-type', style.cssClass, cls]}>{displayLabel}</span>
